.about-section {
  width: 100%;                 /* full width */
  /* min-height: 300px; */
  background-color: #001124;   /* dark background */
  color: #fff;
  display: flex;
  align-items: center;
  padding: 40px;
  box-sizing: border-box;
}

.about-heading {
  writing-mode: vertical-rl;   /* vertical text */
  transform: rotate(180deg);
  font-size: 40px;
  border-left: 2px solid #fff;
  padding-right: 20px;
  margin-right: 20px;
  font-family: serif;
  text-align: center;
}

.about-heading h2 {
  margin: 0;
  height:500px
}

.about-content {
  flex: 1;
  font-size: 40px;
  line-height: 1.6;
  font-family: serif;
}
